<html lang="en">
  <head>
    <title>Christopher Cawdrey -- {{.Title}}</title>
    <link href="/static/home.css" rel="stylesheet" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="keywords" content="Christopher Cawdrey">
    <link rel="icon" href="/static/favicon.ico" type="image/x-ico">
    <link rel="SHORTCUT ICON" href="/static/favicon.ico">
    <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="/feeds/atom.xml">
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feeds/rss.xml">
    <link rel="alternate" type="application/json" title="JSONFeed 1.0" href="/feeds/jsonfeed.json">
    <link rel="start" href="../../" title="Christopher Cawdrey's Homepage">
    <link rel="up" href="../../" title="Christopher Cawdrey's Homepage">
    <link rel="next" href="{{.NextPath}}">
    <link rel="prev" href="{{.PrevPath}}">
    <link rel="first" href="/entry/1489554739">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-93906420-1', 'auto');
      ga('send', 'pageview');

      </script>
  </head>
  <body>
    <div id="content">
      <h3>{{.Title}}</h3>
      <p><i>{{.Month}} {{.Day}} {{.Year}}</i></p>
      {{range $index, $content := .Content}}
      <p>{{$content}}</p>
      {{ if index $.Image $index }}
      <a href="{{index $.Image $index}}">
	<img class="image" src="{{index $.Image $index}}">
      </a>
      {{end}}
      {{end}}
    </div>
    <hr style="border: solid #fff; height: 0;">
    <div>
      <p>
	{{ if .PrevPath }}
	<a href="{{.PrevPath}}">Previous</a>
	{{end}}
	<b><a href="/history">History</a></b>
	{{ if .NextPath }}
	<a href="{{.NextPath}}">Next</a>
	{{end}}
      </p>
    </div>
    <footer></footer>
  </body>
  </html>
