<html lang="en">
  <head>
    <title>Christopher Cawdrey</title>
    <link href="/static/home.css" rel="stylesheet" type="text/css">
    <meta name="description" content="Christopher Cawdrey's Blog">
    <meta name="author" content="Christopher Cawdrey">
    <meta name="keywords" content="christopher, cawdrey, chris, programming, web, development, projects">
    <meta http-equiv="content-Type" content="text/html; charset=ISO-8859-1">
    <link rel="icon" href="/static/favicon.ico" type="image/x-ico">
    <link rel="SHORTCUT ICON" href="/static/favicon.ico">
    <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="/feeds/atom.xml">
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feeds/rss.xml">
    <link rel="alternate" type="application/json" title="JSONFeed 1.0" href="/feeds/jsonfeed.json">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-93906420-1', 'auto');
      ga('send', 'pageview');

      </script>
  </head>
  <body>
    <div id="header">
      <div class="totheleft">
	<img id="me" src="/images/me2-min.jpg" width="242" height="162" alt="[Photograph of Christopher Cawdrey]">
      </div>
      <h3>Christopher Cawdrey</h3>
      <p>Hi. Welcome to my site! I currently work as a Software Engineer for Google. My background is in GeoSpatial technologies and once upon a time I studied Geology. I built this mostly for record keeping purposes though occasionally I like to think I do <a target="_blank" href="https://www.instagram.com/justanothershittycampervan/">interesting things</a>. Questions? Comments? Unsolicited Adulations? Feel free to <a href="mailto:chris@cawdrey.name">shoot me an email.</a></p>
      <div>
    </div>
      <div id="content">
	<h3>{{.Title}}</h3>
	<p><i>{{.Month}} {{.Day}} {{.Year}}</i></p>
	{{range $index, $content := .Content}}
	<p>{{$content}}</p>
	{{ if index $.Image $index }}
	<a href="{{index $.Image $index}}">
	  <img class="image" src="{{index $.Image $index}}">
	</a>
	{{end}}
	{{end}}
      </div>
      <hr style="border: solid #fff; height: 0;">
      <div id="nav">
	<p>
	  {{ if .PrevPath }}
	  <a href="{{.PrevPath}}">Previous</a>
	  {{end}}
	  <b><a href="/history">History</a></b>
	  {{ if .NextPath }}
	  <a href="{{.NextPath}}">Next</a>
	  {{end}}
	</p>
      </div>
    </div>
    <footer>
      <hr style="border-color: inherit">
      <a href="/">Christopher Cawdrey</a>
      <br>
      <div id="footer">
	<a href="/feeds/atom.xml">Atom Feed</a>  -- 
	<a href="/feeds/jsonfeed.json">JSON Feed</a>  -- 
	<a href="/feeds/rss.xml">RSS Feed</a>
      </div>
    </footer>
  </body>
</html>
